* { 
    font-family: "Monico", monospace;
}

body {
    display: block;
    margin: 0;
    padding: 0;
}

.button {
 border: none;
 border-radius: 10px;
 padding: 20px;
 margin: 20px;
 width: 200px;
 height: 70px;
 font-weight: bold;
 text-align: center;
 text-justify: center;
 box-shadow: 1px 5px 10px black;
 color: whitesmoke;
}

.pink{
    background-color: #d977d7;
}

.violet{
    background-color: #b875ff;
}

.topnav {
    overflow: hidden;
    background-color: #b875ff;
    box-shadow: 5px 5px 5px black;
}

.topnav a{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #d977d7;
    color:black;
}

.topnav a.active{
    background-color: #ed1552;
    color: whitesmoke;
}

.dealWrapper {
    display: grid;
    grid-template-areas:
        'leftLarge leftLarge leftLarge topRight topRight'
        'leftLarge leftLarge leftLarge bottomRight bottomRight'
        'bottomDeal bottomDeal bottomDeal bottomDeal bottomDeal';
    gap: 2px;
    background-color: whitesmoke;
    padding: 15px;
}

.leftLarge {
    grid-area: leftLarge;
}

.topRight {
    grid-area: topRight;
}

.bottomRight {
    grid-area: bottomRight;
}

.bottom {
    grid-area: bottomDeal;
}

.dealWrapper > div {
    background-color: #d977d7;
    color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

