* {
    font-family: "Monico", monospace;
}

body {
    display: block;
    margin: 0;
    padding: 0;
}

/* Buttons */

.button {
 border: none;
 border-radius: 10px;
 padding: 20px;
 margin: 20px;
 width: 200px;
 height: 70px;
 font-weight: bold;
 text-align: center;
 text-justify: center;
 box-shadow: 1px 5px 10px black;
 color: whitesmoke;
}

.pink{
    background-color: #d977d7;
}

.violet{
    background-color: #b875ff;
}

/* Navbar */

.topnav {
    overflow: hidden;
    background-color: #b875ff;
    box-shadow: 0px 5px 7px darkgray;
    margin-bottom: 10px;
}

.topnav a{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #d977d7;
    color:black;
    cursor: pointer;
}

.topnav a.active{
    background-color: #ea4876;
    color: whitesmoke;
}

/* Homepage deals & combos */

.dealWrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 200px 200px 200px;
    grid-template-rows: 200px 200px 100px;
    gap: 10px;
    padding: 15px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #cf5cec;
}

.item2{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #e45870;
}

.item3{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #ec5dd6;
}
.item4{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #ed50bb;
}

.dealWrapper > div {
    color: black;
}

.homeDeal {
    display: grid;
}
/* item 1 */

.item1 .bargainText{
    position: relative;
    top: -10px;
    left: 30px;
    font-size: 30px;
    font-weight: 1000;
}

#itemOneThree {
    position: relative;
    top: 3px;
    right: 120px;
    font-size: 120px;
}

#itemOneNine {
    position: relative;
    right: 125px;
    top: 100px;
    font-size: 40px;
}

/* item 2 & 3 */

.item2 .bargainText, .item3 .bargainText {
    position: relative;
    left: 20px;
    font-size: 20px;
}

#sidePrice {
    position: relative;
    top: 30px;
    right: 50px;
}

#sideCent {
    position: relative;
    top: 70px;
    right: 50px;
}

/* multideal */

.multiDeal{
    display: flex;
    position: relative;
    height: auto;
    width: auto;
}

.mDitem{
    position: relative;
    left: 15px;
    bottom: 15px;
    font-size: 25px;
    font-weight: 600;
}

.three{
    position: relative;
    left: 50px;
    bottom: 40%;
}

.threeNine{
    position: relative;
    left: 50px;
    top: 0px;
}

.mDOr{
    position: relative;
    left: 55px;
    top: 20px;
}

.five{
    position: relative;
    left: 60px;
    bottom: 20px;
}

.fiveNine{
    position: relative;
    left: 60px;
    top: 20px;
}

.each{
    position: relative;
    left: 260px;
    top: 80px;
    font-size: 10px;
}

/* general styles */

.homeDeal{
    display: flex;
    position: relative;
}

.bargain{
    font-weight: 900;
    text-shadow: 8px 5px 1px rgb(71, 0, 71);
    color: white;
    border: 12px rgb(128, 0, 0);
}

.bargainPrice {
    font-size: 50px;
}